.content{
    padding: 20px;
}
.row
{
    display: flex;
}

.col-6, .col-3, .col-12
{
    display: flex;
}

.col-6
{
    width: 53%;
}

.col-3
{
    width: 30.33333%;
}

.col-12
{
    width: 100%;
}

.card
{
    background: #fff;
    margin: 10px;
    min-height: 350px;
    border-radius: 20px;
    padding: 20px;
}

.ml-0
{
    margin-left:0
}

.mr-0
{
    margin-right:0
}